<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hw.cloudlibrary">
    <!-- <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/> -->
    <!-- <uses-permission android:name="android.permission.RECORD_AUDIO"/> -->
    <!-- <uses-permission android:name="android.permission.INTERNET"/> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/> -->
    <!-- <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/> -->
    <!-- <uses-permission android:name="android.permission.VIBRATE"/> -->
    <!-- <uses-permission android:name="android.permission.GET_TASKS"/> -->
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> -->
    <!-- <uses-permission android:name="android.permission.RESTART_PACKAGES"/> -->
    <!-- <uses-permission android:name="android.permission.WAKE_LOCK"/> -->
    <!-- <uses-permission android:name="android.permission.BROADCAST_STICKY"/> -->
    <!-- <uses-permission android:name="android.permission.BLUETOOTH"/> -->
    <!-- <uses-permission android:name="android.permission.READ_PHONE_STATE"/> -->
    <!-- <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/> -->
    <!-- <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/> -->
    <!-- <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/> -->
    <!-- <uses-permission android:name="android.permission.CAMERA"/> -->
    <!-- <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/> -->
    <!-- <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/> -->
    <!-- <uses-permission android:name="android.permission.BATTERY_STATS"/> -->
    <!-- <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/> -->
    <!-- <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/> -->
    <!-- <uses-permission android:name="android.permission.READ_CALENDAR"/> -->
    <!-- <uses-permission android:name="android.permission.WRITE_CALENDAR"/> -->
    <!-- <uses-permission android:name="android.permission.READ_CONTACTS"/> -->
    <!-- <uses-permission android:name="android.permission.CALL_PHONE"/> -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CONTACTS" /> <!-- 悬浮框 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" /> <!-- 保持屏幕亮起权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" /> <!-- 安装App的功能 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:allowBackup="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.ConfListActivity"
            android:screenOrientation="portrait" /> <!-- 点对点视频界面 -->
        <activity
            android:name=".activity.VideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.video_activity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.sdkdemo" />
            </intent-filter>
        </activity> <!-- 会议界面 -->
        <activity
            android:name=".activity.VideoConfActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape">
            <intent-filter>

                <!-- <action android:name="android.intent.action.conf_manager_activity" /> -->

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.sdkdemo" />
            </intent-filter>
        </activity> <!-- 会议界面-grid显示 -->
        <activity
            android:name=".activity.VideoConfGridActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.conf_manager_activity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.sdkdemo" />
            </intent-filter>
        </activity> <!-- 去电界面 -->
        <activity
            android:name=".activity.CallOutActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.call_out_activity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.sdkdemo" />
            </intent-filter>
        </activity> <!-- 来电界面 -->
        <activity
            android:name=".activity.CallerIDActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.call_in_activity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.sdkdemo" />
            </intent-filter>
        </activity> <!-- 等待界面 -->
        <activity
            android:name=".activity.LoadingActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.loading_activity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.sdkdemo" />
            </intent-filter>
        </activity>
        <activity
            android:name=".utils.PermissionUtils$PermissionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:multiprocess="true"
            android:theme="@style/ActivityTranslucent"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />

        <!-- 会议分享界面-->
        <activity
            android:name=".activity.ConfShareActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="sensor">
            <intent-filter>
                <action android:name="android.intent.action.conf_data_activity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.sdkdemo" />
            </intent-filter>
        </activity>
    </application>

</manifest>